#gameboard {
    width:600px;
    margin-left:auto;
    margin-right:auto;
    background-color:#fff;
}

#title {
    width:600px;
    height:150px;
    background-image:url("image/title.png");
}

#door1 {
    width:200px;
    height:200px;
    background-image:url("image/door1.png");
}

#door1:hover {
    background-image:url("image/door1hover.png");
}

#door1:active {
    background-image:url("image/dooropen.png");
}

#door2 {
    width:200px;
    height:200px;
    background-image:url("image/door2.png");
}

#door2:hover {
    background-image:url("image/door2hover.png");
}

#door2:active {
    background-image:url("image/dooropen.png");
}

#door3 {
    width:200px;
    height:200px;
    background-image:url("image/door3.png");
}

#door3:hover {
    background-image:url("image/door3hover.png");
}

#door3:active {
    background-image:url("image/dooropen.png");
}

#door4 {
    width:200px;
    height:200px;
    background-image:url("image/door4.png");
}

#door4:hover {
    background-image:url("image/door4hover.png");
}

#door4:active {
    background-image:url("image/dooropen.png");
}

#door5 {
    width:200px;
    height:200px;
    background-image:url("image/door5.png");
}

#door5:hover {
    background-image:url("image/door5hover.png");
}

#door5:active {
    background-image:url("image/dooropen.png");
}

#door6 {
    width:200px;
    height:200px;
    background-image:url("image/door6.png");
}

#door6:hover {
    background-image:url("image/door6hover.png");
}

#door6:active {
    background-image:url("image/dooropen.png");
}

#door7 {
    width:200px;
    height:200px;
    background-image:url("image/door7.png");
}

#door7:hover {
    background-image:url("image/door7hover.png");
}

#door7:active {
    background-image:url("image/dooropen.png");
}

#door8 {
    width:200px;
    height:200px;
    background-image:url("image/door8.png");
}

#door8:hover {
    background-image:url("image/door8hover.png");
}

#door8:active {
    background-image:url("image/dooropen.png");
}

#door9 {
    width:200px;
    height:200px;
    background-image:url("image/door9.png");
}

#door9:hover {
    background-image:url("image/door9hover.png");
}

#door9:active {
    background-image:url("image/door9kanye.png");
}